/* CSS Document */
/*.error, .success, .information{background: none !important;}*/
.iamselling_next7{margin-top:15px; width:120px !important;}
.iamselling_next7:hover, .iamselling_next7:focus, .iamselling_next7:active:focus{background-color: #00aeef; border-color: #009fda;}