@media(min-width:1921px) and (max-width:2880px) {
.container{width:1365px}
}
@media(min-width:1900px) and (max-width:1920px) {

.container{width:1365px}
.inner_menu li a{padding-right:50px;padding-left:50px}
.owl-carousel.owl-theme{padding:0 50px}
.owl-carousel1 .owl-prev{left:8px}
.owl-carousel1 .owl-next{right:8px}
.flower_background_section{background-size:102%;padding-top:10px}
.testimonialsBlock{width:98%}
.owl-testimonials .owl-prev{left:0}
.owl-testimonials .owl-next{right:0}
section.details-wrap .col-md-4 {padding: 0;}
section.details-wrap .col-md-5 {padding: 0;}
}
@media(min-width:1366px) and(max-width:1899px) {

.header_top .serch_b li{margin-right:18px}
.banner .wsmenu-submenu li a{background:none!important;border-bottom:1px solid #fed25c;color:#000!important;font-family:'sailecbold';font-size:14px;padding-left:65px;height:47px;line-height:44px;padding-top:0;padding-bottom:0}
.inner_menu li a{padding-right:50px;padding-left:20px}
}
@media(max-width:1024px) {
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'sailecregular';
    font-size: 13px;
    line-height: 50px;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 8px 0 8px;
    margin: 0;
}
.login_regis {
    padding-left: 12px!important;
}
.banner {
    position: relative;
    width: 660px!important;
    overflow: hidden;
    height: 320px;
    float: left;
}
#news-msg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
	width:100%;
}
.alert strong {
    width:auto;
	padding-right:4px;
    float: left;
}
.thankyoupage h1 {
    width: 100%;
    float: left;
    font-family: Neuton;
    font-size: 68px;
    font-weight: 100;
    line-height: 98px;
    text-align: center;
    color: #52a822;
    margin: 0;
    padding: 0 0 8px 0;
}
.rightsym {
    width:95px;
    margin: 0 auto;
}
.rightsym img {
    width:100%;
}
.password-wrap p
{
   width:100%;
   float:left;
   text-align:left;
   padding-bottom:10px!important;	
   padding-top:10px!important; 
}
.pagination>li>a, .pagination>li>span
{
	border:0!important;	
}
.lSSlideOuter .lSPager.lSGallery li img {
    height:auto;
    width: 100%;
}
#change_password_form .alert-success p
{
   width:auto!important;
   float:none;
   text-align:left;
   padding-bottom:0;
   padding-top:0;   
}
.inner_menu li a {
    padding-right: 18px!important;
    padding-left: 17px!important;
} 
.carousel-inner .item img {
    max-width: 100%;
    width: 100%;
    height: 343px;
}
/*.banner {
    position: relative;
    width:659px!important;
    overflow: hidden;
    height: 320px;
    float: left;
}*/
.inner_menu li a {
    padding-right: 18px;
    padding-left: 17px;
}
	section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap img {
	width:100%;
	height:100%;
	margin:auto;	
}
section.flower-listing-wrap p {
    color: #898989;
    font-size: 11px;
    margin: 0 0 5px 0 !important;
    min-height: auto;
    float: left;
}
}
@media (max-width:1440px) {
.dropdown-header {
    font-size: 14px;
    color: #51a822;
    padding: 0 0px;
    margin: 24px 0px 12px 0;
    font-weight: bold;
    text-decoration: underline;
}
.menuitem {
    width: 170px;
    float: left;
    margin: 0 0 0 20px;
}
#msform fieldset.login_fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    padding: 42px;
    background: url(../../images/site/login_bg.jpg) no-repeat 100% 75% #fff;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    position: static;
}
.login .input-share img {
    max-width: 100%;
    width: 100%;
	height:58px;
}
.input-share img {
    max-width: 100%;
    width:auto;
	height:58px;
}
.modal-header h4 strong {
    font-size: 33px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #a8a8a8;
    line-height: 33px;
    margin: 0;
    padding: 15px;
    width: 100%;
    float: left;
    text-align: center;
}
.input-share a {
    color: #7f7f7f;
    font-size: 13px;
    float: left;
    line-height: 13px;
    padding: 8px 0 0 0;
}
.submit-btn {
    margin:10px 15px 16px 15px;
}
div#myModal-login .modal-content .modal-body {
    position: relative;
    background-image: url(../../images/site/login-back.png);
    overflow: visible;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.lSSlideOuter .lSPager.lSGallery li img {
    height: 100%;
    width: 100%;
}
/*.input-share img {
    max-width: 100%;
    width:100%;    
    margin: 10px 0 0 0;
    height: fit-content;
}*/
/*.input-share img#fb_btn {
    max-width: 100%;
    width: 100%;    
    margin: 10px 0 0 0;
    height: fit-content;
	float:right;
}*/
.login input.form-control {
     height:40px;
}
.login select.form-control {
     height:40px;
}
.mapouter iframe {
    width: 100%;
    height:100%;
}
.login textarea.form-control {
    width: 100%;
    height: 97px;
}
.reg-mod-left input.form-control {
    height:34px;
    border-radius: 3px;
    box-shadow: none;
    line-height: 44px;
}
.reg-mod-left .form-control{
    height:40px!important;	
}
center.of-wrap {
    margin: 0;
}
.wish_buy_link {
    width: 28%;
	line-height: 36px;
}
.wish_prod_details {
    width: 66%;
    margin: 10px 0 0 0;
    font-size: 10px;
    font-weight: 700;
}
.wishlist_product_box {
    width: 32%;
    padding: 5px;
    border: 1px solid #e9e9e9;
    margin: 5px 5px 5px 0;
    float: left;
}
.wish_delete span.delete_btn a {
    background: url(../../images/site/icon_delete_2.png) no-repeat;
    display: block;
    width: 16px;
    height: 20px;
    background-size: 75%;
}
.flower_background_section_inner .flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap {
    width: 100%;
    height: 251px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap {
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.dropdown-menu.wsmenu-submenu {
    z-index: 999;
    margin:0 0 0 202px!important;
}
.wsmenu-submenu {
   max-width: fit-content;
}
section.flower-listing-wrap p {
    color: #898989;
    font-size: 11px;
    margin: 0 0 5px 0 !important;
    min-height: 20px;
    float: left;
}
section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap img {
	width:100%;
	height:100%;
	margin:auto;	
}
#news-msg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9999;
}
.thankyoupage h1 {
    width: 100%;
    float: left;
    font-family: Neuton;
    font-size: 68px;
    font-weight: 100;
    line-height: 98px;
    text-align: center;
    color: #52a822;
    margin: 0;
    padding: 0 0 8px 0;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
	width:100%;
}
.alert strong {
    width:auto;
	padding-right:4px;
    float: left;
}
.rightsym {
    width:95px;
    margin: 0 auto;
}
.rightsym img {
    width:100%;
}
.password-wrap p
{
   width:100%;
   float:left;
   text-align:left;
   padding-bottom:10px!important;	
   padding-top:10px!important; 
}
.details-wrap ul.list-inline li a {
    color: #343434;
    margin-right: -1px;
    padding: 1px 0;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 1px solid;
    font-size: 12px;
}
.details-wrap ul.list-inline li.active a {
    color: #4ba51f;
    font-size: 12px;
}
section.flower-listing-wrap li {
    list-style: none;
    float: left;
    border: #d8d8d8 1px solid;
    border-radius: 3px;
    position: relative;
    margin:0.2%;
	width:24%;
	min-height: 340px;
    height: 100%;
}
.icon-shopping-cart span {
    margin-left:3px;
    display: inline-block;
    font-size: 14px;
    color: #404040;
    font-weight: normal;
    font-family: 'sailecregular';
    margin-top: 1px;
}

.summry
{
	 text-align:right; border-top:1px solid #ccc; padding: 20px 0; font-size:18px;	
}
.my_account_param .error.text-danger{ text-align:center; width:100%;}
.password_label
{
    width:200px!important; padding:5px 0;    font-weight: normal; color: #000;	
}
#myModal-registation{ padding-left:0!important;}
.modal{ overflow-x:hidden!important; overflow-y:scroll!important;}
.popup_in p span#deliverydateofmonth {float: left; text-align: center; font-size: 15px!important; line-height: 52px; color: #222; font-weight: 100;  padding: 0 3px 0 6px!important;}
.popup_in p span#shippingcost {float: right; padding: 7px 50px 0 12px!important; font-size: 12px!important;}
.progress-wrap {position: relative; float: left; margin: 30px 0 30px 0;}
.delevary-location.delevary p img {margin: 0 7px 0 0px;}
a.same-day-delivery {color: #fcc225;font-size: 15px;right: 20px; position: static; text-transform: capitalize; border-bottom: 1px solid;}
/*section.flower-listing-wrap li { list-style: none; float: left; border: #d8d8d8 1px solid; border-radius: 3px; position: relative; margin: 0.5%; width: 24%;}*/
.delevary-location.delevary { background: #5bab26; position: relative; padding: 7px 0; margin: 0 0 16px 0;}
.header_top .serch_a {width: 31%;}
.header_top .serch_b {width: 31%;}
.header_top .serch_c {width: 36%;padding-left: 10px;}
.login_regis li a {font-size: 12px;}
.header_top .serch_b li {font-size: 13px;margin-right: 12px;}
.currency_drop {width: 28.9%;}
.cart {padding-right: 8px;}
.inner_menu li a {padding-right: 35px;padding-left: 35px;}
.sliderBanner .wsmenu-submenu li a {height: 40px;line-height: 40px;}
.owl-item.active {margin-right: 29px !important;}
.banner { position: relative; width: 1080px; overflow: hidden; height: auto;}
section.flowerSlider.flower-listing-wrap li .flower-listing-li {min-width:100%;}
.wsmenu-list > li {margin: 0 14px;}
.delevary-location .dropdown button.btn.btn-primary.dropdown-toggle {height: 38px;}
/*.delevary-location span.caret {margin-top: -15px;}*/
.col-md-4.blogpage-left {width: 35%;}
.col-md-8.blogpage-right {width: 65%;}
.wsmenu-list>li>a{ padding: 0px 12px;}
.bdr-box h3 a { font-size: 14px; color: #6cb22d;}
.bdr-box h3 span input[type="text"] {height: 34px; padding: 5px; border: 1px solid #dcdcdc !important; width: 84%; margin-left: 8%;}
.coupon_sec h3 {
    width: 100%;
    padding: 10px 0 10px 8px;
    background: #eeeeee;
    text-align: left;
    margin: 0 0 10px 0;
}
.bdr-box h3 span {
    background: none;
    float: right;
    color: #909090;
    padding: 0px;
    width: 118px;
}
.submit-btn-delivery_add {
    background: #4ba51f;
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 12px 14px;
    margin: 14px 0 20px 0;
    border-radius: 3px;
    border: 1px solid #4ba51f;
    float: left;
    font-weight: 100;
    line-height: 24px;
}
.hding03 {
    width:28%;
}
.submit-btn-delivery_add .glyphicon {
    font-size:19px;
    border:0;
    /*border-radius: 50%;*/
    width: 28px;
    text-align: center;
    float: left;
    margin-right: 0px;
}
#msform {
    width: 100%;
    margin:20px auto 0 auto;
    text-align: center;
    position: relative;
    /* min-height: 850px; */
}
.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {
    font-size: 10px;
    line-height: 12px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 9px;
    padding: 0 4px;
    margin-top: 2px;
}
#change_password_form .alert-success p
{
   width:auto!important;
   float:none;
   text-align:left;
   padding-bottom:0;
   padding-top:0;   
}
.pagination>li>a, .pagination>li>span
{
	border:0!important;	
}
}
@media (max-width:1367px)
{
.dropdown-menu.wsmenu-submenu {
    z-index: 999;
    margin:0 0 0 100px!important;
}
.wsmenu-submenu {
   max-width: fit-content;
}
.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {
    font-size: 10px;
    line-height: 10px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 0px;
    padding: 0px 25px 0 5px!important;
    margin-top: 5px;
}
#news-msg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
	width:100%;
}
.alert strong {
    width:auto;
	padding-right:4px;
    float: left;
}
.thankyoupage h1 {
    width: 100%;
    float: left;
    font-family: Neuton;
    font-size: 68px;
    font-weight: 100;
    line-height: 98px;
    text-align: center;
    color: #52a822;
    margin: 0;
    padding: 0 0 8px 0;
}
.rightsym {
    width:95px;
    margin: 0 auto;
}
.rightsym img {
    width:100%;
}
.password-wrap p
{
   width:100%;
   float:left;
   text-align:left;
   padding-bottom:10px!important;	
   padding-top:10px!important; 
}
.pagination>li>a, .pagination>li>span
{
	border:0!important;	
}
#change_password_form .alert-success p
{
   width:auto!important;
   float:none;
   text-align:left;
   padding-bottom:0;
   padding-top:0;   
}
.bdr-box h3 a {
    font-size: 13px;
    color: #6cb22d;
}
.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {
        font-size: 10px;
    line-height: 10px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 9px;
    padding: 0 4px;
    margin-top: 4px;
}
.bdr-box h3 span {
    background: none;
    float: right;
    color: #909090;
    padding: 0px;
    width: 130px;
}
.popup_in p span#shippingcost {
    float: right;
    padding: 4px 46px 0 18px!important;
}
.banner
{    
	height:auto;
} 
.my_account_param .error.text-danger
{ text-align:center;
  width:100%;
}
#change_password_form .error.text-danger {
    text-align: center;
    width: 100%;
    float: left!important;
    padding: 0 0 0 0!important;
}
.password_label
{
    width:200px!important; padding:5px 0;    font-weight: normal; color: #000;	
}
}



@media (max-width:1365px) {
.modal-header h4 strong {
    font-size: 33px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #a8a8a8;
    line-height: 33px;
    margin: 0;
    padding: 15px;
    width: 100%;
    float: left;
    text-align: center;
}
.lSSlideOuter .lSPager.lSGallery li img {
    height: 100%;
    width: 100%;
}
/*.input-share img {
    max-width: 100%;
    width: 100%;    
    margin: 10px 0 0 0;
}*/
.login input.form-control {
     height:40px;
}
.login select.form-control {
     height:40px;
}
.mapouter iframe {
    width: 100%;
    height:100%;
}
.login textarea.form-control {
    width: 100%;
    height: 97px;
}
.reg-mod-left input.form-control {
    height:40px;
    border-radius: 3px;
    box-shadow: none;
    line-height: 44px;
}
.reg-mod-left .form-control{
    height:40px!important;	
}
center.of-wrap {
    margin: 0;
}
section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap img {
	width:100%;
	height:100%;
	margin:auto;	
}
#news-msg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9999;
}
.thankyoupage h1 {
    width: 100%;
    float: left;
    font-family: Neuton;
    font-size: 68px;
    font-weight: 100;
    line-height: 98px;
    text-align: center;
    color: #52a822;
    margin: 0;
    padding: 0 0 8px 0;
}
.rightsym {
    width:95px;
    margin: 0 auto;
}
.rightsym img {
    width:100%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
	width:100%;
}
.alert strong {
    width:auto;
	padding-right:4px;
    float: left;
}
.password-wrap p
{
   width:100%;
   float:left;
   text-align:left;
   padding-bottom:10px!important;	
   padding-top:10px!important; 
}
#change_password_form .alert-success p
{
   width:auto!important;
   float:none;
   text-align:left;
   padding-bottom:0;
   padding-top:0;   
}
.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {
    font-size: 10px;
    line-height: 10px;
    color: #666;
    margin-left: 0;
    float: left;
    /* padding-top: 0px; */
    padding: 0px 4px!important;
    margin-top:9px;
}
.popup_in p span#week {
    font-size: 11px;
    line-height: 13px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 0;
    padding: 0 5px;
    margin-top: 0;
}
#msform {
    width: 100%;
    margin:140px auto 0 auto;
    text-align: center;
    position: relative;
    /* min-height: 850px; */
}
.popup_in p span#deliverydateofmonth {float: left; text-align: center; font-size:20px!important; line-height: 50px; color: #222; font-weight: 100;  padding: 0 3px 0 6px!important;}
.popup_in p span#shippingcost
{
	float:right;
	padding:0 30px 0 13px!important;
}
.form-group .fa {
    width: auto;
    float: left;
    position: absolute;
    top:9px;
    margin-left: 9px;
    z-index: 9;
    line-height: 30px;
}
input.form-control.location {
    padding:6px 23px;
}
.detail-loc-form .palceholder {
    position: absolute;
    top:10px;
	line-height:22px;
    left:30px;
    color: #a8a8a8;
    display: none;
    font-size: 18px;
    z-index: 9;
}
.related-product .flower-listing-ing-wrap img { width: 100%; height: auto!important; margin: auto; min-height:268px;}
.header_top .serch_a {width: 34%;}
.header_top .serch_b {width: 31%;}
.header_top .serch_c {width: 33%;padding-left: 10px;}
.header_top .serch_a,.header_top .serch_b,.header_top .serch_c{padding-left:10px;padding-right:10px}
.header_top .serch_b li{font-size:13px;margin-right:7px}
.login_regis li a{font-size:13px}
.login_regis .login{padding-right:8px}
.login_regis{padding-left:32px}
.sliderBanner .wsmenu-submenu{width:280px}
.wsmenu-click02{left:10px}
.sliderBanner .wsmenu-submenu li a{padding-left:50px}
.inner_menu li a{padding-right:20px;padding-left:20px}
.carousel-inner .item img{max-width:100%; width: 100%;}
.menu,.wsmenu,.wsmenu-list{height:100%}
.deliverySec .container:first-child{width:80%}
.linkCol{width:33.33%;float:left}
.sliderBanner .container{display:block}
.banner{width:100%;float:left; margin-top:0;}
/*.sliderBanner .wsmenu-submenu{position:fixed;top:0;left:-280px;height:100vh}*/

.main_header_top {position: relative;height: 175px;}
.col-md-12.col-sm-12.col-xs-12.header_top {padding-top: 49px;}
.header_top_right {width: 100%;position: absolute;top: 0;}
.header_top .serch_a {width: 33%;}
.header_top .serch_b {width: 33%;}
.delevary-location p {font-size: 20px;}
.flower-listing-wrap li .flower-listing-li {min-width: 170px;}
section.flower-listing-wrap p {margin: 0px 0 30px 0;}
.detail-loc-form label {font-weight: 400;font-size: 12px;}
input.yellow-btn {font-size: 13px;}
input.green-btn {font-size: 13px;}
.flex-add {width: 100%;}
ul.lSPager.lSGallery li {width:22% !important;}
#navbar {padding: 0;}
.container-fluid.main-menu-wrap {padding: 0;}
.navbar-default .navbar-nav.wsmenu-list li a {font-size: 12px;}
.main-menu-wrap .wsmenu-list > li {margin: 0 14px;}
.bdr-box h3 span{    float: none;}
.bdr-box h3 span input[type="text"]{    margin-left: 0;/* width: 100%;*/}



.sliderBanner .wsmenu-submenu {
    position: static;
    top: 0;
    left: -280px;
    height: auto;
}
.sideMenuIco{display:none}
.banner {
    position: relative;
    width: 859px;
    overflow: hidden;
    height: 320px;
    float: left;
}
.menu .wsmenu{ width:280px; float:left;}

}
@media(max-width:1023px) {
.details-wrap ul.list-inline li.active a {
    color: #4ba51f;
    margin: 0;
}
.tab-content
{
    width: 100%;
    float: left;
    padding: 0 0 30px 0;	
}
.h3-detail {
    font-size:23px;
}
.tab-content table{ width:100%;}
.mega-dropdown {
    position: relative!important;
}
.banner {
    position: relative;
    width: 100%!important;
    overflow: hidden;
    height: 320px;
    float: left;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color:inherit!important;
    background:none!important;
}
.header_top_right {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.login_regis .login {
    padding-right: 10px;
}

.navbar .dropdown-menu {
    overflow-y: auto;
    max-height: 300px;
    overflow-x: hidden;
	width:100%;
	position:absolute!important;
}
.navbar-collapse.in {
    overflow-y: initial;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'sailecregular';
    font-size: 13px;
    line-height: 50px;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    margin: 0;
    text-align: left;
}
.mapouter iframe
{
	width:100%;
	float:left;	
}
.left_devider {
    margin: 0;
    padding-left: 19px;
    border-left:0;
}
.wish_buy_link {
    width: 26%;
    line-height: 11px;
    padding-top: 11px;
}
.wish_buy_link a {
    color: #4ba51f;
    font-size: 10px;
}
.dropdown-menu.wsmenu-submenu {
    z-index: 999;
    margin:0 0 0 0!important;
}

.sliderBanner .wsmenu-submenu {
    position: fixed;
    top: 0;
    left: -280px;
    height:100vh;
}
.sideMenuIco{display:block}
#news-msg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -37px;
    left: 0;
    z-index: 9999;
}
#change_password_form .alert-success p
{
   width:auto!important;
   float:none;
   text-align:left;
   padding-bottom:0;
   padding-top:0;   
}
.wish_order_details{width:30%; margin:10px 0 0 30px; height:104px; overflow:hidden;}
span.exp_user_link a {
    color: #4ba51f;
    font-size: 14px;
}
#msform {
    width: 100%;
    margin:80px auto 0 auto;
    text-align: center;
    position: relative;
    /* min-height: 850px; */
}
.billing_address_fieldset { width: 100%;float: none;}
.message_fieldset { width: 100%;float: none;}
#msform fieldset h2 {color: #52a822; font-weight: bold; font-size: 18px; text-align: left; padding: 0 0 0 17px;}
.footcont { margin: 0px 0 25px 0; float: left; text-align: center; width: 100%;}
.related-product .flower-listing-ing-wrap img { width: 100%; height: 100%!important; margin: auto;}
/*center.of-wrap img{ width:100%;}*/
.Modal-head-border { display: inline-block; margin: 0 10px;}
.popup_in p span#deliverydateofmonth { float: left; text-align: center; font-size: 32px!important; line-height: 52px; color: #222; font-weight: 100;}
.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {font-size: 16px; line-height: 17px; color: #666; margin-left: 0; float: left; padding-top: 9px; padding: 0 5px; margin-top: 13px;}
.popup_in p span#week {font-size:16px; line-height: 17px; color: #666; margin-left: 0; float: left; padding-top: 9px; padding: 0 5px; margin-top: 16px;}
.popup_in p span#shippingcost { float: right; padding: 7px 50px 0 12px; font-size: 20px!important;
}
section.flower-listing-wrap ul#results span.no-record { font-family: 'Bree Serif', serif; font-size: 20px; line-height: 36px; color: #ff0000; text-transform: capitalize; background: url(../../images/site/norecord.png) no-repeat 0 9px; padding: 0 0 0 28px; font-weight: 100; width: 100%; float: left; text-align: left;}
.delevary-location.delevary p span#same_day_delivery_count { width:auto; float: none; padding:0 10px;}
ul.lSPager.lSGallery {
    margin-top: 25px !important;
    margin-bottom: 40px!important;
}
.tcktahed{width:100%; margin:0 auto;}
/*.dropdown-menu.wsmenu-submenu {z-index: 999999; position:absolute!important; float:left; height:auto; overflow-y: hidden; margin-left:0px;}*/

.breadcrumb>li+li:before {padding: 0px 30px;}
section.flower-listing-wrap ul {float: left; width: 100%; padding: 0 0px; margin-bottom: 0 !important;}
ul.details-share.right{font-size: 0; padding: 0; margin-right: 0;}
section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap { width: 100%;}
.brade-wrap .dropdown {float: right; margin: 8px 0 0 0;}
.clearfix{max-width: 100%!important;}
.clearfix ul li img 
{
	width: 100%!important;
}
section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap img {
    width: 100%;
}
.login_btn_outr
{
	width: 100%;
    float: left;
    padding: 56px 0 130px 0;
	background:none;	
}
section.flower-listing-wrap li {
    margin:2% 0!important;
    width:100%!important;
}
.footer-main-top li{padding:0 1%;margin-bottom:10px}
.footer-main-top li a{font-size:19px}
.site-footer .footer-cell,.footer-mid .footer-cell:first-child{width:100%;padding-left:10px!important;margin-bottom:10px}
.footer-mid{margin-top:20px}
.copy-right-info p{padding:0 10px}
.header_top_left,.header_top_right{width:100%}
.header_bottom{position:relative;bottom:0;top:0;margin:10px 0;right:inherit!important;text-align:center!important; width:100%;}
.header_top .serch_a,.header_top .serch_b{width:50%}
.header_top .serch_c{width:100%}
.header_top_left{text-align:center;margin-bottom:54px}
.header_bottom .btn-default img{margin-right:3px}
.header_bottom .btn-default{padding-right:6px}
.header_bottom .spn_cl{margin-right:8px}
.navbar-default .navbar-nav.wsmenu-list li a{text-transform:none;padding:0 7.5px}
.navbar-default .navbar-nav.wsmenu-list li:first-child a{padding-left:10px}
.navbar-default .navbar-nav.wsmenu-list li:last-child a{padding-right:0}
.header_top .serch_a,.header_top .serch_b,.header_top .serch_c{padding-left:20px;padding-right:20px}
.header_top .serch_b li{margin:0 0 0 20px}
.carousel-caption{width:100%}
.text-right.banquet_b img{max-height:60px}
.carousel-caption{padding:20px;height:100%;top:14px;}
.footer-cell{width:33.33%!important}
.footer-cell:last-child{width:100%!important}
.footer-mid .footer-cell{width:50%!important;margin:20px 0!important}
.currency_drop {width: 18%;float: right;right: -5px;position: relative;}
.login_regis {width: 24%;}
.col-md-12.col-sm-12.col-xs-12.header_top {padding-top: 110px;}
a.logo p {left: 50%;margin-left: -140px;}
.delevary-location p {font-size: 14px; margin-right:0;}
.delevary-location.delevary p span {font-size: 20px;}
.delevary-location.delevary p img {margin: 0 7px;}
a.same-day-delivery {font-size: 12px;}
section.flowerSlider.flower-listing-wrap li .flower-listing-li {min-width: 210px;}
.drop-menu-flex {overflow-x: scroll;}
ul.breadcrumb li a {color: #000; font-size:13px; text-transform: uppercase;}
}
@media(max-width:991px) {
.navbar-toggle {
    margin-right:6px;
}
.deliverySec .container:first-child {
    width: 100%;
}
.deliverySec p {
    text-align:justify;
}
.footer-main-top li {
    padding: 0 4%;
    color: #fff;
    font-size: 16px;
    font-family: 'sailecregular';
    text-decoration: none;
    line-height: 36px;
}
.show_a li {
    width: 100%;
    float: left;
    height: auto;
    font-family: 'sailecregular';
    font-size: 16px;
    color: #575555;
    background: none;
    text-align: left;
    margin: 5px 2px;
}
.input-share .col-md-6:last-child a {float: none;}
.input-share .col-md-6 {float: left;text-align: center;display: flex;align-items: center;}
.input-share .col-md-6 a {margin-right: 13px; padding:0;}
.reg-mod-left {
width: 100%;
float: left;
padding: 0 25px;
background-image: url(../images/reg-back.png);
background-repeat: no-repeat;
background-position: 97.5% 100%;

}
.reg-mod-right-wrap {
width: 100%;
float: left;
padding: 0 25px;
background-image: none;
margin-bottom: 50px;
}
.reg-mod-right {
margin: 0;
}
div#myModal-registation .modal-dialog {
width: 90%;
margin: auto
}
.listing-banner-menu ul li {list-style: none;float: left;width: 33%;padding: 5px 0;}  
.listing-banner-menu ul li {list-style: none;float: left;width: 50%;padding: 5px 5px;}
.listing-banner-menu {max-width: 100%;bottom: -208px;}
.listing-banner {margin-bottom: 182px;}
.header_top .serch_a, .header_top .serch_b {width: 100%;}
a.logo {display: block;position: relative;margin-top: 50px;}
.col-md-4.blogpage-left {width: 100%;}
.col-md-8.blogpage-right {width: 100%;padding-left: 15px;}
.blog-big-wrap.blog-details-wrap .blog-big-img img {width: 100%;}

.smaller_float_left{float:left;}
.w35percent{width:35%}
.w50percent{width:50%}
.input-share img {
    margin: 0 5px 10px 0;
    width: auto;
}
}
@media(max-width:767px) {

	.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {font-size: 10px; line-height: 17px; color: #666; margin-left: 0; float: left; padding-top: 9px; padding: 0 5px; margin-top: 13px;}
	.popup_in p span#week {font-size: 11px; line-height: 17px; color: #666; margin-left: 0; float: left; padding-top: 9px; padding: 0 5px; margin-top: 16px;}
	.modal-content 
	.footer-main-top .text-center{text-align: left; margin-left: 0!important;}
	.frm-txt {font-size: 10px;text-transform: uppercase; margin-bottom: 16px!important;}
	section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap {width: 100%; height:100%;}
	section.flower-listing-wrap li .flower-listing-li .flower-listing-ing-wrap img {width: 100%; height:auto; margin: auto; min-height:inherit;}
	.sm_mob_view{display:block !important;}
	.banner {    height: auto;}
	.mob_truck, .mob_clock{width:100%; display:block; text-align:center;}
	.mob_truck img, .mob_clock img{     display: inline-block !important;}
	.mob_truck img{ width: 14% !important;}
	.inner_menu ul{width:100%;float:left}
	.inner_menu li{width: auto;float: left;text-align: center;margin: 0 9px;}
	.inner_menu li a{padding:0 5px;float:left}
	.inner_menu{bottom:-50px}
	.sliderBanner{margin-bottom:50px}
	.wsmenu-list>li{display:inline-block;width:100%;text-align:left}
	.wsmenu-list>li a{line-height:normal;padding:7.5px!important}
	.wsmenu-list li a .arrow:after{top:17px}
	.wsmenu-submenu{top:0px;}
	.wsmenu-list{margin:20px 0}
	.navbar-default .navbar-nav.wsmenu-list li a{border-bottom:#d7d7d7 1px dotted}
	.reg-mod-left {background-position: 97% 100%;}
	.header_top .serch_b li {margin: 0 0 0 0;}
	.login_regis {width:60%;}
	.currency_drop {width: 28%;}
	.col-md-12.col-sm-12.col-xs-12.header_top {padding-top: 170px;}
	.wsmenu-list li:hover .wsmenu-submenu {display: block;left: 0;position: relative;width: 100%;}
	.delevary-location {display: block;}
	.flex {display: block;}
	.delevary-location .dropdown button.btn.btn-primary.dropdown-toggle {width: 275px;margin-top: -8px;height: 37px; margin-bottom:6px;}
	.delevary-location.delevary p {display: block;width: 100%; padding:0 157px;}
	.delevary-location.delevary {background: #5bab26;position: relative;padding: 25px 0;}
	ul.lSPager.lSGallery li {width:42% !important;}
	.h3-detail {margin-top: 30px;margin-bottom: 6px;}
	label.Qty-lvl { margin-top:0px;}
	.flex-add-detail span {float: right;color: #6cb22d;margin-left: 7px;margin-top: 2px;}
	.progress-wrap {position: relative;float: left;margin: 0px 0 65px 30px;}
	div#menu1 p {width: 100%;}
	a.logo {margin-top: 0px;}
	.testimonialsBlock .testimonialimg {display: inline-block;width: 50%;position: relative;z-index: 3;text-align: center;margin: 0 0 10px 0;float: none;}
	.testimonialsBlock {text-align: center;}
	.testimonialContent {text-align: left;}
	.linkCol ul.list-inline li {width: 100%;}
	.social ul {max-width: unset;}
	.flag {width: auto;margin: 0 10px 0 0;}
	.main_header_bottom {position: absolute;top: 0;width: auto;left: 15px;right: 15px;}
	header {margin-top: 50px;}
	a.same-day-delivery {color: #fcc225;right: 50%;position: absolute;text-transform: capitalize;border-bottom: 1px solid;margin-right: -55px;    display: none !important;}
	section.flowerSlider.flower-listing-wrap .owl-dots {display: none;}
	.blog-date-time p {margin: 10px 36px 20px 0px;}
	.blog-big-img {height: auto;width: auto;margin-right: 0;}
	.blog-big-img img {width: 100%;margin-bottom: 20px;}
    .search_z_index{z-index:-1;}
	
	
	.cart-big{width:100%;}
	.cart-table thead{display:none;}
	.cart-table tbody{background: #eee;}
	table.cart-table td, table.cart-table th{padding: 0 !important; }
	table.cart-table tr td:nth-child(2){width:80%;text-align: left;padding: 15px 0 !important;}
	table.cart-table tr td:nth-child(3), table.cart-table tr td:nth-child(4), table.cart-table tr td:nth-child(5){display:none;}
	.cart-table tbody tr td span img{top:0;}
	.mobile_content, .hidden_remove{display:block;}
	.cross_btn{display:none;}
	.t20{padding-top:20px; float:left;}
	.number{float: right;
    height: 34px;
    margin-left: 40px;
    margin-top: 11px;}
	.hidden_remove{margin-top:15px; color:#000;}
	.hidden_remove a{color: #fcc225 !important;    text-decoration: underline !important;}
	.cart-small{width:100%;    position: fixed;
    bottom: 0;
    background: #fff;}
	.submit-btn.white{display:none;}
	ul.breadcrumb{margin-bottom: 0;}
	p.cart-wrap-head, .h3-detail_heading_central{display:none;}
	.bdr-box{    width: 100%;}
	.bdr-box center{    width: 40%;
    margin: 10px 0;}
	.bdr-box center h4{font-size:13px;}
	.bdr-box center a{font-size:27px;}
	.btn-wrap.text-center{padding:0;}
	.coupon_sec{width:fit-content; float:left;width:60%; }
	.coupon_sec h3{width:auto;    padding: 10px 13px; background:none; text-align: left;}
	.bdr-box h3 span{ background:none; float:none;color: #909090;
    padding: 0px;}
	.bdr-box h3 span input[type="text"]{
		height:34px;
		padding:5px;
		    border: 1px solid #dcdcdc !important;
			width:100%;
    margin-left: 0;
	
	}
	.footer-cell{width:100%!important;border-bottom:#d7d7d7 1px solid}
	.footer-mid .footer-cell{width:100%!important;margin:0!important;padding:20px 30px!important}
	.site-footer .footer-cell,.footer-mid .footer-cell:first-child{padding-left:30px!important;}
	.reg-mod-left {background-image: none}
	.cart-small{z-index: 1;}
	.footer-cell .input-group{z-index:0;}
	}
	@media(max-width:680px){
	
	.input-share img {
    margin: 0 0 10px 0;
    width: 100%;
    }
	center.of-wrap img {
    	width:100%;
	}
	.input-share .col-md-6 a {
	margin-right: 13px;
	display: inline-block;
	float: none;
	}
	.input-share .col-md-6 {
	width: 100%;
	display: block;
	}
	div#myModal-login .modal-content {
	max-width: 100%;
	width: 92%;
	margin: auto;
	}
	.delevary-location.delevary p img:first-child {
	display: block;
	margin: 0 auto 10px;
	}
	.delevary-location.delevary p img:nth-child(2) {
	margin-left: 38px;
	margin-top: -9px;
	}
	.delevary-location.delevary p span {
	font-size: 20px;
	line-height: 40px;
	}
		.search_z_index{z-index:-1;}
		.block_location{width: 33%;}
		.block_A{clear: both;}
	}
	@media(max-width:567px) {
	.delevary-location.delevary p {display: block;width: 100%; padding:0 30px;}
	.header_top .serch_a, .header_top .serch_b, .header_top .serch_c {padding-left:20px; padding-right: 20px;}
	.flowerSlider h2 {font-family: 'sailecbold'; font-size: 12px; color: #4ba51f; text-transform: uppercase; letter-spacing: 2px; border-bottom: #e2e2e2 1px solid; padding-bottom: 20px; margin-bottom: 13px; position:     relative;
	}
	.carousel-caption {top: 14px;}
	.header_bottom .spn_cl{margin-right:0;margin-bottom:10px;width:100%}
	.header_top .serch_a,.header_top .serch_b{width:100%}
	.inner_menu{display:none}
	.wsmenu-list{margin:0}
	.carousel-inner .item{height:200px}
	.sliderBanner{margin-bottom:0}
	.owl-carousel .owl-item img{width:90%}
	.owl-next{right:0}
	.owl-prev{left:0}
	.testimonialsBlock .testimonialContent{width:100%;padding:20px 20px 20px 45px;margin-left:0}
	.deliverySec .container h2{font-size:18px;margin-bottom:20px}
	.deliverySec .container{padding-top:30px}
	.linkCol{width:100%}
	
	.owl-carousel .owl-item img {display: inline-block;float: none;}
	section.flower-listing-wrap li {float: none;display: inline-block;margin-bottom: 0;margin: 5% 0;}
	.owl-carousel1.owl-carousel.owl-theme.owl-loaded.owl-drag {text-align: center;}
	.carousel-inner .item img {max-width: unset;display: block;height: 100%;align-items: center;justify-content: center;position: relative; width: auto;}
    .search_z_index{z-index:0;}
    .delevary-location p{margin-right:0!important; margin-bottom:16px;}
	.block_location{width: 50%;}
	.block_A{clear: both;}
	
	.details-wrap .row .col-md-12 .mid_col_8 .col-md-3{display:none;}
	.acct_right_block{width:auto;}
	.left_p_60{padding-left:0;}
	.colon{display:none;}
	.my_account_param input{margin-bottom:15px;}
	.btn_acctedit{margin-left:0 !important;}
	
	.cpassword_box{    width: 265px;}
	
	
	
	
	/*******07/08/18*****/
	#progressbar{
		display:none;
	}
	#msform{
		min-height:250px;  background: #ececec;
	}
	
	#msform fieldset{
		 background:none; position:relative; padding: 5px;
	}
	fieldset .left_devider{
		display:none;
		
	}
	.order_row_container{
		width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px;
		
	}
	.eachorder_row_heading  ul:first-child{
		display:block;
	}
	.hding01{width:100%; text-align:center;}
	.hding01 img{width:50%;}
	
	.hding03{float:left; width:48%;}
	.hding02{width:10%;}
	.hding04{width:20%;}
	.hding05{width:20%;}
	.hding02, .hding03, .hding04, .hding05{line-height:50px;}
	.hding03, .hding04, .hding05{text-align:center; font-size:14px !important;}
	.eachorder_row_heading_right_panel{ width: 100%; float: left;}
	.h3-detail_heading_central{}
	.left_devider img{width:100%;}
	#rdbck {
    background-repeat: no-repeat;
    background-position:94.5% 0%!important;
}
     }
	@media(max-width:480px) {
.login_regis {
    padding-left: 0;
}
	.popup_in p span#deliverydateofmonth {float: left; text-align: center; font-size: 26px!important; line-height: 52px; color: #222; font-weight: 100;}
    .popup_in p span#shippingcost {float: right; padding: 7px 88px 0 12px; font-size: 14px!important;}
	.popup_in p span#deliverymonth, #deliveryweekday, #shippingmethod, #timeslot {
    font-size: 10px;
    line-height: 17px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 9px;
    padding: 0 5px;
    margin-top: 6px;
    }
	.popup_in p span#week {
    font-size: 11px;
    line-height: 17px;
    color: #666;
    margin-left: 0;
    float: left;
    padding-top: 9px;
    padding: 0 5px;
    margin-top: 0px;
	}
	#rdbck {
    background-repeat: no-repeat;
    background-position:95% 0%;
	}
	.banner {width: 100%;float: left; margin-top:30px;}
	/*.dropdown-menu.wsmenu-submenu {z-index: 999999; position:static!important; float:left; height:300px; overflow-y: scroll; margin-left: -8px;}*/
	
	.progress-wrap {position: relative;float: left; margin: 0px 0 65px 0;}
	.progress {height: 284px; float: left; background: none; border: none; box-shadow: none;}
	
	input.form-control {line-height:40px;}
	.breadcrumb>li+li:before {padding: 0px 18px;}
	ul.breadcrumb li a {color: #000; font-size: 9px; text-transform: uppercase;}
	.login_regis img{    width: 15%; margin:0 4px 0 0;}
	.login_regis ul{padding-left: 0px;}
	.login_regis{width:56%;}
	.login_regis li a {font-size: 11px;}
	.header_top .serch_b li {font-size: 11px;}
	.login_regis img {position: relative; top:0; vertical-align: middle;}
	.delevary-location p{font-size: 12px; padding: 0 42px;}
	.dropdown button.btn.btn-primary.dropdown-toggle { width: 222px!important; margin-top: -8px; height: 37px; margin-bottom: 6px; font-size: 16px!important;}
	.cart{padding:0;}
	.icon-shopping-cart span{margin-left: 4px; margin-top: 0;}	
	.action-button, .submit-btn{
		margin: 16px auto;
		display: block;
		
	}
}
@media(max-width:320px) {
	.popup_in p span#deliverydateofmonth {float: left; text-align: center; font-size: 26px!important; line-height: 52px; color: #222; font-weight: 100;}
    .popup_in p span#shippingcost {float: right; padding: 7px 50px 0 12px; font-size: 14px!important;}
}