/*WIDGET*/ 
.widget_block {display: none;padding: 0 50px 0 0;margin: 0 auto;text-align: center;}
.widget_links:after{content: ""; display: block; clear: both;}
.widget_links a, .widget_links span{
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
    margin: 0;
	width: 40px;
	height: 36px;
    line-height: 37px;
	text-align: center;
	color: #fff;
    font-size: 16px;
}
.widget_links a:last-child, .widget_links span:last-child{margin: 0;}
.widget_links a:hover, .widget_links span:hover, header .widget_links a[href^="mailto:"]:hover{background-color: #fff;color: #225F11;}
.widget_links a:first-child, .widget_links span:first-child {border-radius: 22px 0 0 22px;}
.widget_links a:last-child, .widget_links span:last-child {border-radius: 0 22px 22px 0;}
.widget_form {
    display: none;
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
	z-index: 21;
	min-width: 570px;
    margin: 0;
    padding: 15px;
}
.sticky .widget_form{margin: 0;}
.widget_form form {margin-bottom: 0;}
.widget_form ul{list-style: none;padding: 0;margin: 0 -10px;}
.widget_form ul li{padding: 0 10px; margin: 0;}
.widget_form ul li:last-child{margin-bottom: -10px;}
.widget_form .input_wrap{margin-bottom: 10px;}
.widget_form input[type="text"], .widget_form input[type="email"], .widget_form textarea {height: 36px;	font-size: 14px; background-color: transparent; margin: 0;}
.widget_form textarea {height: 70px;}
.widget_form input[type="submit"], .widget_form input[type="reset"], .widget_form button{height: 36px;line-height: 32px;font-size: 14px;padding: 0 20px;min-width: inherit;}
.widget_form .error, .widget_form .success, .widget_form .information{margin: 10px 0 0; padding: 6px 5px 6px 30px; -webkit-background-position: 8px 10px; background-position: 8px 10px; min-height: 36px; font-size: 14px;}
.sticky .widget_form{margin: 0;}
.sticky .widget_links a, .sticky .widget_links span{background: #225F11; color: #fff;}

/*1200px*/
@media only screen and (max-width: 1400px) {
    .container {width: 1090px;}
}

/*1170px*/
@media only screen and (max-width: 1199px) {
	.container {width: 100%;}
}

/*992px*/
@media only screen and (max-width: 1169px) {
	/* .container {width: 990px;} */
}

/*768px*/
@media only screen and (max-width: 991px) {
    /* .container {width: 760px;} */
}

/*600px*/
@media only screen and (max-width: 767px) {
	/* .container {width: 100%;} */
}

/*480px*/
@media only screen and (max-width: 599px) {
	.widget_form{left: 15px; right: 15px; min-width: inherit;}
}

/*320px*/
@media only screen and (max-width: 479px) {
	.widget_form ul li{width: 100%;}
}